<style>
.mfdefaultsorter {
    text-decoration: none !important;
    color: rgba(0, 0, 0, 0.7) !important;
}

.scroll {
    overflow: auto;
    max-height: 300px;
}
</style>
<div class="hide-on-small-and-down row" style="padding-left:16px; padding-bottom:none !important; overflow: hidden; height:91%; display: inline-block; width: 100%">
    <div class="col-md-12" style="padding: 0px !important">
        <div class="col-md-12">
            <md-card style="margin-top: 16px; height:96%; overflow: hidden">
                <md-card-title style="color: rgba(0,0,0,0.7)">
                    <div class="row">
                        <span class="col s8">Users</span>
                        <span class="colm s4 pull-right text-right">
                            <button (click) = "refreshUsers(1)" md-icon-button>
                                <md-icon>refresh </md-icon>
                            </button>
                             <button  *ngIf="!showAddUser" (click) = 'showAddUser=true; emptyUser()' md-icon-button>
                                <md-icon>add </md-icon>
                            </button>
                            <button *ngIf="showAddUser" (click) = 'showAddUser=false; reloadPosition()' md-icon-button>
                                <md-icon >view_list </md-icon>
                            </button>
                        </span>
                    </div>
                    <div style="height:2px !important">
                        <md-progress-bar mode="indeterminate" *ngIf="promiseUsers"></md-progress-bar>
                    </div>
                </md-card-title>
                <md-card-content style="margin-top:2px; height:65%; overflow: auto">
                    <table *ngIf="!showAddUser" class="table table-striped scroll" [mfData]="halls" #mf="mfDataTable" style="font-size: 12px">
                        <thead>
                            <tr>
                                <th style="text-decoration: none">
                                    <mfDefaultSorter by="name" class="mfdefaultsorter">Name</mfDefaultSorter>
                                </th>
                                <th style="text-decoration: none">
                                    <mfDefaultSorter by="email"> Email </mfDefaultSorter>
                                </th>
                                <th style="text-decoration: none">
                                    <mfDefaultSorter by="mobile">Mobile</mfDefaultSorter>
                                </th>
                                <th style="text-decoration: none">
                                    <mfDefaultSorter by="mobile">Role</mfDefaultSorter>
                                </th>
                                <th style="text-decoration: none">
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let ind=index; let user of mf.data| paginate:{itemsPerPage: 10,currentPage: p,totalItems: count }">
                                <td>{{user.name}}</td>
                                <td>{{user.email}}</td>
                                <td>{{user.mobile}}</td>
                                <td>{{user.role}}</td>
                                <td>
                                    <button md-icon-button (click)='showUpdateUser(user)'>
                                        <md-icon style="color: rgba(0,0,0,0.6)">mode_edit</md-icon>
                                    </button>
                                    <button md-icon-button (click)='callUserDelete(user)'>
                                        <md-icon style="color: rgba(0,0,0,0.6)">delete_forever</md-icon>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div *ngIf="showAddUser">
                        <div class="input-field col s10 m5">
                            <!-- <input placeholder="User Name" id="depot_name" [(ngModel)]="user.name" type="text"> -->
                            <input type="text" [(ngModel)]="user.name" onkeydown="if (event.keyCode == 13) document.getElementById('email').focus()" class="validate">
                            <label for="username">User Name</label>
                        </div>
                        <div class="input-field col s10 m5">
                            <!-- <input placeholder="Email" id="depot_name" [(ngModel)]="user.email" type="text"> -->
                            <input type="text" id="email" [(ngModel)]="user.email" onkeydown="if (event.keyCode == 13) document.getElementById('mobile').focus()" class="validate">
                            <label for="username">Email</label>
                        </div>
                        <div class="input-field col s10 m5">
                            <!-- <input placeholder="Mobile" id="depot_name" [(ngModel)]="user.mobile" type="text"> -->
                            <input type="text" id="mobile" [(ngModel)]="user.mobile" onkeydown="if (event.keyCode == 13) document.getElementById('pwd').focus()" class="validate">
                            <label for="username">Mobile #</label>
                        </div>
                        <div class="input-field col s10 m5">
                            <!-- <input placeholder="Password" id="depot_name" [(ngModel)]="user.pwd" type="text"> -->
                            <input type="text" id="pwd" [(ngModel)]="user.pwd" onkeydown="if (event.keyCode == 13) document.getElementById('adminRole').focus()" class="validate">
                            <label for="username">Password</label>
                        </div>
                        <div class="input-field col s10" style="padding-bottom:16px">
                            <input type="checkbox" id="adminRole" checked="false" [(ngModel)]="user.role" />
                            <label for="adminRole" style="font-size:1.5rem !important">Provide ADMIN access.</label>
                        </div>
                        <div class="input-field col s10">
                            <a class="waves-effect waves-light btn" (click)='saveUser(user)' *ngIf=!isUserEdit>Save User</a>
                            <a class="waves-effect waves-light btn" (click)='updateUser(user)' *ngIf=isUserEdit>Update User</a>
                            <a class="waves-effect waves-light btn" (click)='reloadPosition()'>Cancel</a>
                        </div>
                    </div>
                </md-card-content>
                <div *ngIf="!showAddUser" class="row s12 pull-right" style="padding: 16px;">
                    <pagination-controls (pageChange)="refreshUsers($event)" #api></pagination-controls>
                </div>
            </md-card>
        </div>
    </div>
</div>
<div class="hide-on-med-and-up s12" style="overflow: auto; padding:none !important; height:100%; display: inline-block; width: 100%">
    <div class="row s12" style="padding:16px; padding-bottom:0px">
        <span class="col s8" style="padding:16px; font-size:18px; padding-bottom:0px">Users</span>
        <span class="colm s4 pull-right text-right">
                            <button (click) = "refreshUsers(1)" md-icon-button>
                                <md-icon>refresh </md-icon>
                            </button>
                             <button  *ngIf="!showAddUser" (click) = 'showAddUser=true; emptyUser()' md-icon-button>
                                <md-icon>add </md-icon>
                            </button>
                            <button *ngIf="showAddUser" (click) = 'showAddUser=false; reloadPosition()' md-icon-button>
                                <md-icon >view_list </md-icon>
                            </button>
                        </span>
    </div>
    <div *ngIf="!showAddUser">
        <div *ngFor="let ind=index; let user of halls| paginate:{itemsPerPage: 10,currentPage: p,totalItems: count }">
            <div class="row col s12" style="border-bottom: 1px solid rgba(0,0,0,0.4); padding:8px; margin: 0px">
                <div class="col s2" style="padding:0 !important">
                    <div style="color: #ffffff; font-size: 24px; text-align: center; border-radius: 50%; height:50px; width:50px; line-height: 2; margin: 8px" [ngStyle]="{'background-color': doc_classes_colors[getRandomClr()]}">
                        {{user.name[0]}}
                    </div>
                </div>
                <div class="col s10" style="margin:0 !important; padding:0; cursor: pointer;">
                    <div  (click)='showUpdateUser(user)' class="col s10" style="padding:8px">
                        <div style=" font-size: 14px; font-weight: 600; min-width: 100px; padding:0" class="col-xs-12">
                            <div> {{user.name}} </div>
                        </div>
                        <div style="font-size: 12px;; padding:0" class="col-xs-12">
                            <div> {{user.email}} </div>
                        </div>
                        <div style="font-size: 12px;padding-left:0" class="col s12">
                            <div> {{user.mobile}} </div>
                        </div>
                    </div>
                    <div class="col s2">
                        <button md-icon-button (click)='callUserDelete(user)'>
                            <md-icon style="color: rgba(0,0,0,0.6)">delete_forever</md-icon>
                        </button>
                        <div style="font-size: 12px; text-align: center;" class="pull-right">
                            <div> {{user.role}} </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="showAddUser" style="padding:16px">
        <div class="input-field col s10 m5">
            <!-- <input placeholder="User Name" id="depot_name" [(ngModel)]="user.name" type="text"> -->
            <input id="uname" type="text" [(ngModel)]="user.name" onkeydown="if (event.keyCode == 13) document.getElementById('email').focus()" class="validate">
            <label for="uname">User Name</label>
        </div>
        <div class="input-field col s10 m5">
            <!-- <input placeholder="Email" id="depot_name" [(ngModel)]="user.email" type="text"> -->
            <input type="text" id="email" [(ngModel)]="user.email" onkeydown="if (event.keyCode == 13) document.getElementById('mobile').focus()" class="validate">
            <label for="username">Email</label>
        </div>
        <div class="input-field col s10 m5">
            <!-- <input placeholder="Mobile" id="depot_name" [(ngModel)]="user.mobile" type="text"> -->
            <input type="text" id="mobile" [(ngModel)]="user.mobile" onkeydown="if (event.keyCode == 13) document.getElementById('pwd').focus()" class="validate">
            <label for="username">Mobile #</label>
        </div>
        <div class="input-field col s10 m5">
            <!-- <input placeholder="Password" id="depot_name" [(ngModel)]="user.pwd" type="text"> -->
            <input type="text" id="pwd" [(ngModel)]="user.pwd" onkeydown="if (event.keyCode == 13) document.getElementById('adminRole').focus()" class="validate">
            <label for="username">Password</label>
        </div>
        <div class="input-field col s10" style="padding-bottom:16px">
            <input type="checkbox" id="adminRole" checked="false" [(ngModel)]="user.role" />
            <label for="adminRole" style="font-size:1.5rem !important">Provide ADMIN access.</label>
        </div>
        <div class="input-field col s10">
            <a class="waves-effect waves-light btn" (click)='saveUser(user)' *ngIf=!isUserEdit>Save User</a>
            <a class="waves-effect waves-light btn" (click)='updateUser(user)' *ngIf=isUserEdit>Update User</a>
            <a class="waves-effect waves-light btn" (click)='reloadPosition()'>Cancel</a>
        </div>
    </div>
</div>
