<style>
    .dropdown-item {
        width: 100%;
        padding: 8px;
        display: inline-block;
        text-decoration: none;
        color: rgba(0, 0, 0, 0.6);
    }
    
    .dropdown-item:hover {
        background: #E5E5E5;
    }
    
    .datepicker__input {
        border-left: none !important;
        border-right: none !important;
        border-top: none !important;
    }
</style>
<div style="overflow-y: auto; height: 100%; width: 99%; ">
    <div (window:resize)="onResize($event)" class="row col s12" style=" margin: 8px 8px 0px 8px ;overflow: hidden; height:91%; display: inline-block; width: 100%">
        <md-card class="col s12" style="display: inline-block; height: 99%;">
            <md-card-title style="color: rgba(0,0,0,0.7); font-size: 12px; margin:0 !important">
                <div class="row" style="margin:0 !important; margin-bottom:0px important">
                    <span class="col l4 m3 s10" style="padding:16px; font-size: 24px">My Current Bids</span>
                    <span class=" col m7 s2 pull-right text-right" style="padding-top:16px !important">
                    <button class="" (click)='getMyBids()' md-icon-button>
                        <md-icon>refresh </md-icon>
                    </button>
                </span>
                </div>
                <div style="height:2px !important">
                    <md-progress-bar mode="indeterminate" *ngIf="promiseCurrentBids"></md-progress-bar>
                </div>
            </md-card-title>
            <md-card-content class="col s12" style="overflow: auto; height:65% !important; width:100%; overflow-x: hidden;">
                <!-- <div class="row s12" style="margin: 0 !important; padding:0px !important; border-bottom: 1px solid rgba(0,0,0,0.1); ">
                    <div (swipeleft)="onSwipeLeft($event.type)" (swiperight)="onSwipeRight($event.type)" id="test" class="col s12 m11 l11" style="margin: 0 !important; padding:0px !important; display: inline-block;">
                        <div class="row s12" style="margin: 0 !important; padding:0px !important; ">
                            <div class="col s9" style="margin: 0 !important">
                                <h4 style="padding-left: 8px">Group Name</h4>
                                <div class="col s12" style="font-size: 1.3rem"><strong>City:</strong> MAS To MDU
                                </div>
                                <div class="col s12" style="font-size: 1.3rem"><strong>State:</strong> TN To TN
                                </div>
                            </div>
                            <div class="col s3" style="display: inline-block; padding-top:8px; text-align: right;">
                                <div class="col s12" style="font-size: 1rem; padding:0px !important">22-11-2016
                                    <br>11:00 AM </div>
                                <div class="col s12" style="font-size: 1rem; padding:0px !important"><strong> Distance</strong> 110 Miles </div>
                            </div>
                        </div>
                        <div class="row s12" style="margin: 0 0 8px 0!important; padding-left: 8px">
                            <div class="col s6 m3 l3" style="font-size: 1.3rem"><strong>Type:</strong>
                            </div>
                            <div class="col s6 m3 l3" style="font-size: 1.3rem"><strong>1WayLH:</strong>
                            </div>
                            <div class="col s6 m3 l3" style="font-size: 1.3rem"><strong>RTLH</strong>
                            </div>
                            <div class="col s6 m3 l3" style="font-size: 1.3rem"><strong>Drop trailors</strong>
                            </div>
                        </div>
                    </div> -->
                <!--  <div id="testDel" class="col s1" style="margin: 20px 0 0 0!important; padding-left: 8px">
                       <button class="" (click)='refreshBids()' md-icon-button>
                           <md-icon>delete </md-icon>
                       </button>
                   </div> -->
                <div class="row s12">
                    <table class="table table-striped col s12" [mfData]="details" #mf="mfDataTable" style="font-size: 12px">
                        <thead>
                            <tr>
                                <th style="text-decoration: none">
                                    Group Name
                                </th>
                                <th style="text-decoration: none">
                                    From City
                                </th>
                                <th style="text-decoration: none">
                                    From State
                                </th>
                                <th style="text-decoration: none">
                                    To City
                                </th>
                                <th style="text-decoration: none">
                                    To State
                                </th>
                                <th style="text-decoration: none">
                                    Distance Miles
                                </th>
                                <th style="text-decoration: none">
                                    Type
                                </th>
                                <th style="text-decoration: none">
                                    1Way LH
                                </th>
                                <th style="text-decoration: none">
                                    RTLH
                                </th>
                                <th style="text-decoration: none">
                                    Expected LH
                                </th>
                                <th style="text-decoration: none">
                                    Drop trailors
                                </th>
                                <th style="text-decoration: none">
                                    Lane Date From
                                </th>
                                <th style="text-decoration: none">
                                    Lane Date To
                                </th>
                                <th style="text-decoration: none">
                                    BID Time
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let ind=index; let currentBid of mf.data | paginate:{itemsPerPage: 10,currentPage: p,totalItems: count }" [class.selected]="ind==selectedRow"
                                style="cursor: pointer">
                                <td>{{currentBid.groupId}}</td>
                                <td>{{currentBid.fromCity}}</td>
                                <td>{{currentBid.fromState}}</td>
                                <td>{{currentBid.toCity}}</td>
                                <td>{{currentBid.toState}}</td>
                                <td>{{currentBid.distanceMiles}}</td>
                                <td>{{currentBid.refType}}</td>
                                <td>{{currentBid.WayLH}}</td>
                                <td>{{currentBid.RTLH}}</td>
                                <td>{{currentBid.expediteLH}}</td>
                                <td>{{currentBid.dropTrailors}}</td>
                                <td>{{currentBid.laneDateFrom | date: 'dd-MM-yyyy'}}</td>
                                <td>{{currentBid.laneDateTo | date: 'dd-MM-yyyy'}}</td>
                                <td>
                                    <div style="width:100%; ">{{currentBid.bidDateTime | date:'dd-MM-yyyy'}}</div>
                                    <div style="width:100%;">{{currentBid.bidDateTime | date:'h:mma'}} </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </md-card-content>
            <!-- <div class="row s12 pull-right" style="padding: 16px">
            <pagination-controls (pageChange)="refreshShipments($event,myModel)" #api></pagination-controls>
        </div> -->
        </md-card>
    </div>
</div>