<style>
.mfdefaultsorter {
    text-decoration: none !important;
    color: rgba(0, 0, 0, 0.7) !important;
}

.highlight {
    background: red
}
</style>
<div class="hide-on-small-and-down row" style="padding-left:16px; padding-bottom:none !important; overflow: hidden; height:91%; display: inline-block; width: 100%">
    <div class="col-md-8" style="padding: 0px !important">
        <div class="col-md-12">
            <md-card style="margin-top: 16px; height:96%; overflow: hidden">
                <md-card-title style="color: rgba(0,0,0,0.7)">
                    <div class="row">
                        <span class="col-md-8">Depots</span>
                        <span class="row col-md-4 text-right">
                            <button  *ngIf="!showAdd" (click) = 'refreshDepots(1)' md-icon-button>
                                <md-icon>refresh </md-icon>
                            </button>
                            <button  *ngIf="!showAdd" (click) = 'showAdd=true' md-icon-button>
                                <md-icon>add </md-icon>
                            </button>
                            <button *ngIf="showAdd" (click) = 'reloadPosition()' md-icon-button>
                                <md-icon >view_list </md-icon>
                            </button>
                        </span>
                    </div>
                    <div style="height:2px !important">
                        <md-progress-bar mode="indeterminate" *ngIf="promiseDepot"></md-progress-bar>
                    </div>
                </md-card-title>
                <md-card-content style="height:70%; overflow: auto">
                    <div *ngIf="showAdd">
                        <div *ngIf=!isDepotEdit class="input-field col s10">
                            <input placeholder="Depot ID" id="depot_id" [(ngModel)]="depot.id" type="text">
                        </div>
                        <div class="input-field col s10">
                            <input placeholder="Depot Name" [(ngModel)]="depot.name" type="text">
                        </div>
                        <div class="input-field col s10">
                            <input placeholder="Address Line 1" [(ngModel)]="depot.address_line_1" type="text">
                        </div>
                        <div class="input-field col s10">
                            <input placeholder="Address Line 2" [(ngModel)]="depot.address_line_2" type="text">
                        </div>
                        <div class="input-field col s10">
                            <input placeholder="zipcode" [(ngModel)]="depot.zipcode" type="text">
                        </div>
                        <div class="input-field col s10">
                            <input placeholder="county" [(ngModel)]="depot.county" type="text">
                        </div>
                        <div class="input-field col s10">
                            <input placeholder="city" [(ngModel)]="depot.city" type="text">
                        </div>
                        <div class="input-field col s10">
                            <input placeholder="state" [(ngModel)]="depot.state" type="text">
                        </div>
                        <div class="input-field col s10">
                            <input placeholder="country" [(ngModel)]="depot.country" type="text">
                        </div>
                        <div class="input-field col s10">
                            <input placeholder="phone" [(ngModel)]="depot.phone" type="text">
                        </div>
                        <div class="input-field col s10">
                            <input placeholder="mobile" [(ngModel)]="depot.mobile" type="text">
                        </div>
                        <div class="input-field col s10">
                            <input placeholder="email" [(ngModel)]="depot.email" type="text">
                        </div>
                        <div class="input-field col s10">
                            <a class="waves-effect waves-light btn" (click)='saveDepot(depot)' *ngIf=!isDepotEdit>Save Depot</a>
                            <a class="waves-effect waves-light btn" (click)='updateDepot(depot)' *ngIf=isDepotEdit>Update Depot</a>
                            <a class="waves-effect waves-light btn" (click)='reloadPosition()'>Cancel</a>
                        </div>
                    </div>
                    <table *ngIf="!showAdd" class="table table-striped" [mfData]="halls" #mf="mfDataTable" [mfRowsOnPage]="10" style="font-size: 12px">
                        <thead>
                            <tr>
                                <th style="width: 15%; text-decoration: none">
                                    <mfDefaultSorter by="name" class="mfdefaultsorter">Depot ID</mfDefaultSorter>
                                </th>
                                <th style="width: 25%; text-decoration: none">
                                    <mfDefaultSorter by="name" class="mfdefaultsorter">Depot Name</mfDefaultSorter>
                                </th>
                                <th style="width: 30%; text-decoration: none">
                                    <mfDefaultSorter by="email"> Address </mfDefaultSorter>
                                </th>
                                <th style="width: 30%; text-decoration: none">
                                    <mfDefaultSorter by="email"> Contact </mfDefaultSorter>
                                </th>
                                <th style="width: 30%; text-decoration: none">
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr style="cursor: pointer" *ngFor="let ind=index; let depot of mf.data | paginate:{itemsPerPage: 10,currentPage: p,totalItems: count }" (click)="fetchDepotUsers([depot]);selectedRow = ind" [class.selected]="ind==selectedRow">
                                <td>{{depot.id}}</td>
                                <td>{{depot.name}}</td>
                                <td>
                                    <span> {{depot.address_line_1}} </span>
                                    <br>
                                    <span> {{depot.address_line_2}}</span>
                                    <br>
                                    <span> {{depot.city}},</span>
                                    <br>
                                    <span> {{depot.zipcode}} </span>
                                    <br>
                                    <span> {{depot.country}} </span>
                                </td>
                                <td>
                                    Phone:
                                    <span>{{depot.phone}} </span>
                                    <br> Mobile:
                                    <span>{{depot.mobile}} </span>
                                    <br> Email:
                                    <span>{{depot.email}} </span>
                                </td>
                                <td>
                                    <md-icon (click)='callDepotDelete($event,depot)' style="cursor: pointer; color: rgba(0,0,0,0.6)">delete_forever</md-icon>
                                    <md-icon (click)='editDepot(depot)' style="cursor: pointer; color: rgba(0,0,0,0.6)">mode_edit</md-icon>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </md-card-content>
                <div class="row s12 pull-right" style="padding: 16px;">
                    <pagination-controls (pageChange)="refreshDepots($event)" #api></pagination-controls>
                </div>
            </md-card>
        </div>
    </div>
    <div class="col-md-4" style="padding: 0px !important">
        <div class="col-md-12">
            <md-card style="margin-top: 16px; height:96%; overflow: hidden">
                <md-card-title style="color: rgba(0,0,0,0.7)">
                    <div class="row">
                        <span class="col-md-8">Depot Users</span>
                        <span class="row col-md-4 text-right">
                            <button  *ngIf="showDepotUser" (click) = 'reloadDepotUserPosition()' md-icon-button>
                                <md-icon style="color: rgba(0,0,0,0.6)">view_list </md-icon>
                            </button>
                            <button  *ngIf="!showDepotUser" (click) = 'updateDepotID();showDepotUser=true;' md-icon-button>
                                <md-icon style="color: rgba(0,0,0,0.6)">add </md-icon>
                            </button>
                        </span>
                    </div>
                    <div style="height:2px !important">
                        <md-progress-bar mode="indeterminate" *ngIf="promiseDepotUsers"></md-progress-bar>
                    </div>
                </md-card-title>
                <md-card-content style="height:75%; overflow-x: hidden; overflow-y: auto">
                    <div *ngIf="showDepotUser" class="container">
                        <div class="input-field col s12">
                            <input *ngIf=!isDepotEditUser placeholder="Depot Id" [(ngModel)]="depotUser.depot_id" readonly value="depot_id" type="text">
                        </div>
                        <div class="input-field col s12">
                            <input placeholder="User Name" [(ngModel)]="depotUser.user_name" type="text">
                        </div>
                        <div class="input-field col s12">
                            <input placeholder="User Email" [(ngModel)]="depotUser.user_email" type="text">
                        </div>
                        <div class="input-field col s12">
                            <input placeholder="Mobile" [(ngModel)]="depotUser.user_mobile" type="text">
                        </div>
                        <a *ngIf=!isDepotEditUser class="waves-effect waves-light btn" (click)='saveDepotUser(depotUser)'>Attach User</a>
                        <a *ngIf=isDepotEditUser class="waves-effect waves-light btn" (click)='updateDepotUser(depotUser)'>Update User</a>
                        <a class="waves-effect waves-light btn" (click)='reloadDepotUserPosition()'>Cancel</a>
                    </div>
                    <div *ngIf="!showDepotUser">
                        <div *ngFor="let depot of userDetail;let ind= index ">
                            <div class="col s12" style="border-bottom: 1px solid rgba(0,0,0,0.4); padding: 8px;">
                                <div class="col s3" style="width: 50px; padding:0 !important">
                                    <div style="color: #ffffff; font-size: 24px; text-align: center; border-radius: 50%; height:50px; width:50px; line-height: 2" [ngStyle]="{'background-color': doc_classes_colors[getRandomClr()]}">
                                        {{depot.user_name[0]}}
                                    </div>
                                </div>
                                <div (click)='editDepotUser(depot)' class="row col s8" style="margin:0 !important; cursor: pointer">
                                    <div style=" font-size: 14px; font-weight: 600; min-width: 100px" class="col-xs-12">
                                        <div> {{depot.user_name}} </div>
                                    </div>
                                    <div style="font-size: 12px;" class="col-xs-12">
                                        <div> {{depot.user_email}} </div>
                                    </div>
                                    <div style="font-size: 12px;" class="col-xs-12">
                                        <div> {{depot.user_mobile}} </div>
                                    </div>
                                </div>
                                <div class="row s1" style="margin-bottom:0 !important; margin-top: 10px; vertical-align: middle;">
                                    <!--  <md-icon (click)='editDepotUser(depot)' style="cursor: pointer; color: rgba(0,0,0,0.6)">mode_edit</md-icon> -->
                                    <md-icon (click)='callUserDelete(depot,$index)' style="cursor: pointer; color: rgba(0,0,0,0.6)">delete_forever</md-icon>
                                </div>
                            </div>
                        </div>
                        <div class="nodata" *ngIf="userDetail.length==0">
                            No users are attached to this depot.
                        </div>
                    </div>
                </md-card-content>
            </md-card>
        </div>
    </div>
</div>
<div class="hide-on-med-and-up s12" style="height:100%; overflow: auto; padding: 0px; margin:0px; height:100%; display: inline-block; width: 100%">
    <div>
        <div class="col s12" style="width:100%; display: inline-block;">
            <ul class="tabs">
                <li class="tab col s6"><a style="text-decoration: none" class="active" (click)="depotUserTab=false">Depot</a></li>
                <li class="tab col s6"><a style="text-decoration: none" (click)="depotUserTab=true">Depot User</a></li>
            </ul>
        </div>
        <div *ngIf="!depotUserTab" class="col s12" style="display: inline-block; padding-bottom:80px">
            <div *ngIf="!showAdd">
                <ul materialize="collapsible" class="collapsible" data-collapsible="accordion">
                    <li *ngFor="let ind=index; let depot of halls | paginate:{itemsPerPage: 10,currentPage: p,totalItems: count }">
                        <div class="collapsible-header">
                            <div class="row col s12" style="margin: 0px">
                                <div class="col s11">
                                    <div style=" font-size: 14px; font-weight: 600; min-width: 100px; padding:4px 0px 0px 0px" class="col-xs-12">
                                        <div> {{depot.name}} ({{depot.id}}) </div>
                                    </div>
                                    <div style="font-size: 12px;; padding:1px 0px" class="col-xs-12">
                                        <md-icon style="font-size: 14px; width: auto; color: rgba(0,0,0,0.6);height:14px; vertical-align:middle">email</md-icon> {{depot.email}}
                                    </div>
                                    <div style="font-size: 12px;padding: 0px" class="col s12">
                                        <div *ngIf="depot.phone" class="col s6" style="padding:0px">
                                            <md-icon style="font-size: 14px; width: auto; color: rgba(0,0,0,0.6);">local_phone</md-icon> {{depot.phone}} </div>
                                        <div *ngIf="depot.mobile" class="col s6" style="padding:0px">
                                            <md-icon style="font-size: 14px; width: auto; color: rgba(0,0,0,0.6)">smartphone</md-icon> {{depot.mobile}} </div>
                                    </div>
                                </div>
                                <div class="col s1 pull-right">
                                    <md-icon (click)='callUserDelete(user)' style="margin: 8px 0px;color: rgba(0,0,0,0.6); width:24px; z-index:100; ">delete_forever</md-icon>
                                    <md-icon (click)='editDepot(depot)' style="margin: 8px 0px;color: rgba(0,0,0,0.6); width:24px; z-index:100; ">mode_edit</md-icon>
                                </div>
                            </div>
                        </div>
                        <div class="collapsible-body" style="padding:8px">
                            <div class="row s12" style="margin:0;">
                                <div class="col s8">
                                    <span> {{depot.address_line_1}} </span>
                                    <br>
                                    <span> {{depot.address_line_2}}</span>
                                    <br>
                                    <span> {{depot.city}} - {{depot.zipcode}} </span>
                                </div>
                                <div class="col s4" style=" text-align: right; line-height: 4;">
                                    {{depot.country}}
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div *ngIf="showAdd" class="row col s12" style=" width:100%padding:16px">
                <div *ngIf=!isDepotEdit class="input-field col s12" style="margin:4px 16px">
                    <input placeholder="Depot ID" id="depot_id" [(ngModel)]="depot.id" type="text">
                </div>
                <div class="input-field col s12" style="margin:4px 16px">
                    <input placeholder="Depot Name" [(ngModel)]="depot.name" type="text">
                </div>
                <div class="input-field col s12" style="margin:4px 16px">
                    <input placeholder="Address Line 1" [(ngModel)]="depot.address_line_1" type="text">
                </div>
                <div class="input-field col s12" style="margin:4px 16px">
                    <input placeholder="Address Line 2" [(ngModel)]="depot.address_line_2" type="text">
                </div>
                <div class="input-field col s12" style="margin:4px 16px">
                    <input placeholder="zipcode" [(ngModel)]="depot.zipcode" type="text">
                </div>
                <div class="input-field col s12" style="margin:4px 16px">
                    <input placeholder="county" [(ngModel)]="depot.county" type="text">
                </div>
                <div class="input-field col s12" style="margin:4px 16px">
                    <input placeholder="city" [(ngModel)]="depot.city" type="text">
                </div>
                <div class="input-field col s12" style="margin:4px 16px">
                    <input placeholder="state" [(ngModel)]="depot.state" type="text">
                </div>
                <div class="input-field col s12" style="margin:4px 16px">
                    <input placeholder="country" [(ngModel)]="depot.country" type="text">
                </div>
                <div class="input-field col s12" style="margin:4px 16px">
                    <input placeholder="phone" [(ngModel)]="depot.phone" type="text">
                </div>
                <div class="input-field col s12" style="margin:4px 16px">
                    <input placeholder="mobile" [(ngModel)]="depot.mobile" type="text">
                </div>
                <div class="input-field col s12" style="margin:4px 16px">
                    <input placeholder="email" [(ngModel)]="depot.email" type="text">
                </div>
                <div class="input-field col s12">
                    <a class="waves-effect waves-light btn" (click)='saveDepot(depot)' *ngIf=!isDepotEdit>Save Depot</a>
                    <a class="waves-effect waves-light btn" (click)='updateDepot(depot)' *ngIf=isDepotEdit>Update Depot</a>
                    <a class="waves-effect waves-light btn" (click)='reloadPosition()'>Cancel</a>
                </div>
            </div>
            <div *ngIf="!showAdd" class="row s12 pull-right" style="position: fixed;bottom:0; float: right; width: 100%; z-index: 1000">
                <a class="btn-floating btn-large waves-effect waves-light pull-right" (click)='showAdd=true' style="background: #FF9800"><i class="material-icons">add</i></a>
            </div>
        </div>
        <div *ngIf="(depotUserTab)" class="col s12">
            <!-- Dropdown Trigger -->
            <div class="container"  *ngIf="!showAddUser">
                <a materialize="dropdown" class='dropdown-button btn' href='#' data-activates='dropdown1' style="width:100%; padding:8px; margin: 16px">Select Depot</a>
                <ul id='dropdown1' class='row s12 dropdown-content' style="width:100%; padding:8px;">
                    <li *ngFor="let depot of halls"><a (click)="fetchDepotUsers([depot])">{{depot.name}}</a></li>
                </ul>
                <div class="row s12" style="text-align: center;">
                    <strong>{{selDepotName}}</strong>
                </div>
                <div *ngIf="!showDepotUser">
                    <div *ngFor="let depot of userDetail;let ind= index ">
                        <div class="row s12" style="border-bottom: 1px solid rgba(0,0,0,0.4); padding: 8px;">
                            <div class="col s3" style="width: 50px; padding:0 !important">
                                <div style="color: #ffffff; font-size: 24px; text-align: center; border-radius: 50%; height:50px; width:50px; line-height: 2" [ngStyle]="{'background-color': doc_classes_colors[getRandomClr()]}">
                                    {{depot.user_name[0]}}
                                </div>
                            </div>
                            <div (click)='editDepotUser(depot);isUserEdit=true ' class="col s8" style="margin:0 !important; cursor: pointer">
                                <div style=" font-size: 14px; font-weight: 600; min-width: 100px" class="col s12">
                                    <div> {{depot.user_name}} </div>
                                </div>
                                <div style="font-size: 12px;" class="col s12">
                                    <div> {{depot.user_email}} </div>
                                </div>
                                <div style="font-size: 12px;" class="col s12">
                                    <div> {{depot.user_mobile}} </div>
                                </div>
                            </div>
                            <div class="row s1 pull-right" style="margin-bottom:0 !important; margin-top: 10px; vertical-align: middle;">
                                <!--  <md-icon (click)='editDepotUser(depot)' style="cursor: pointer; color: rgba(0,0,0,0.6)">mode_edit</md-icon> -->
                                <md-icon (click)='callUserDelete(depot,$index)' style="cursor: pointer; color: rgba(0,0,0,0.6)">delete_forever</md-icon>
                            </div>
                        </div>
                    </div>
                    <div  class="row s11" style="position: fixed;bottom:0; float: right; width: 90%; z-index: 1000">
                        <a class="btn-floating btn-large waves-effect waves-light pull-right" (click)="updateDepotID();showDepotUser=true;" style="background: #FF9800"><i class="material-icons">add</i></a>
                    </div>
                    <div class="nodata" *ngIf="userDetail.length==0">
                        No users are attached to this depot.
                    </div>
                </div>
            </div>
            <div *ngIf="showAddUser" style="padding:16px">
                <div class="input-field col s10 m5">
                    <!-- <input placeholder="User Name" id="depot_name" [(ngModel)]="user.name" type="text"> -->
                    <input id="uname" type="text" [(ngModel)]="user.name" onkeydown="if (event.keyCode == 13) document.getElementById('email').focus()" class="validate">
                    <label for="uname">User Name</label>
                </div>
                <div class="input-field col s10 m5">
                    <!-- <input placeholder="Email" id="depot_name" [(ngModel)]="user.email" type="text"> -->
                    <input type="text" id="email" [(ngModel)]="user.email" onkeydown="if (event.keyCode == 13) document.getElementById('mobile').focus()" class="validate">
                    <label for="username">Email</label>
                </div>
                <div class="input-field col s10 m5">
                    <!-- <input placeholder="Mobile" id="depot_name" [(ngModel)]="user.mobile" type="text"> -->
                    <input type="text" id="mobile" [(ngModel)]="user.mobile" onkeydown="if (event.keyCode == 13) document.getElementById('pwd').focus()" class="validate">
                    <label for="username">Mobile #</label>
                </div>
                <div class="input-field col s10 m5">
                    <!-- <input placeholder="Password" id="depot_name" [(ngModel)]="user.pwd" type="text"> -->
                    <input type="text" id="pwd" [(ngModel)]="user.pwd" onkeydown="if (event.keyCode == 13) document.getElementById('adminRole').focus()" class="validate">
                    <label for="username">Password</label>
                </div>
                <div class="input-field col s10" style="padding-bottom:16px">
                    <input type="checkbox" id="adminRole" checked="false" [(ngModel)]="user.role" />
                    <label for="adminRole" style="font-size:1.5rem !important">Provide ADMIN access.</label>
                </div>
                <div class="input-field col s10">
                    <a class="waves-effect waves-light btn" (click)='saveUser(user)' *ngIf=!isUserEdit>Save User</a>
                    <a class="waves-effect waves-light btn" (click)='updateUser(user)' *ngIf=isUserEdit>Update User</a>
                    <a class="waves-effect waves-light btn" (click)='showAddUser=false; reloadPosition()'>Cancel</a>
                </div>
            </div>
            <div *ngIf="showDepotUser" class="container">
                <div class="input-field col s12">
                    <input *ngIf=!isDepotEditUser placeholder="Depot Id" [(ngModel)]="depotUser.depot_id" readonly value="depot_id" type="text">
                </div>
                <div class="input-field col s12">
                    <input placeholder="User Name" [(ngModel)]="depotUser.user_name" type="text">
                </div>
                <div class="input-field col s12">
                    <input placeholder="User Email" [(ngModel)]="depotUser.user_email" type="text">
                </div>
                <div class="input-field col s12">
                    <input placeholder="Mobile" [(ngModel)]="depotUser.user_mobile" type="text">
                </div>
                <a *ngIf=!isDepotEditUser class="waves-effect waves-light btn" (click)='saveDepotUser(depotUser)'>Attach User</a>
                <a *ngIf=isDepotEditUser class="waves-effect waves-light btn" (click)='updateDepotUser(depotUser)'>Update User</a>
                <a class="waves-effect waves-light btn" (click)='reloadDepotUserPosition()'>Cancel</a>
            </div>
        </div>
    </div>
</div>
