<style>
.dropdown-item {
    width: 100%;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}

.dropdown-item:hover {
    background: #E5E5E5;
}

.datepicker__input {
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
}
</style>
<div style="overflow-y: auto; height: 100%; width: 99%; ">
    <div class="row col s12" style=" margin: 8px 8px 0px 8px ;overflow: hidden; height:91%; display: inline-block; width: 100%">
        <md-card class="col s12" style="display: inline-block; height: 99%; overflow-x: hidden;">
            <md-card-title style="color: rgba(0,0,0,0.7); font-size: 12px; margin:0 !important">
                <div class="row" style="margin:0 !important; margin-bottom:0px important">
                    <span class="col l4 m3 s10" style="padding:16px; font-size: 24px">Manage Bidders</span>
                    <span class=" col m7 s2 pull-right text-right" style="padding-top:16px !important">
                </span>
                </div>
            </md-card-title>
            <md-card-content class="col s12" style="overflow-y: auto; overflow-x: hidden;">
                <div class="row s12">
                    <table class="table table-striped scroll" style="font-size: 12px; overflow-x: hidden;">
                        <thead>
                            <tr>
                                <th style="text-decoration: none">
                                    Business Name
                                </th>
                                <th style="text-decoration: none">
                                    Busines User Name
                                </th>
                                <th style="text-decoration: none">
                                    Phone Number
                                </th>
                                <th style="text-decoration: none">
                                    Email
                                </th>
                                <th style="text-decoration: none">
                                    Active
                                </th>
                                <th style="text-decoration: none">
                                    Given Code
                                </th>
                                <th style="text-decoration: none">
                                    Profile Match
                                </th>
                                <th style="text-decoration: none">
                                    Request Date
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Sample Business Name</td>
                                <td>Business User</td>
                                <td>Phone Number</td>
                                <td>mail@mail.com</td>
                                <td>Active</td>
                                <td>Code123</td>
                                <td>Profilematch</td>
                                <td>21-11-2016</td>
                            </tr>
                            <tr>
                                <td>Sample Business Name</td>
                                <td>Business User</td>
                                <td>Phone Number</td>
                                <td>mail@mail.com</td>
                                <td>Active</td>
                                <td>Code123</td>
                                <td>Profilematch</td>
                                <td>21-11-2016</td>
                            </tr>
                            <tr>
                                <td>Sample Business Name</td>
                                <td>Business User</td>
                                <td>Phone Number</td>
                                <td>mail@mail.com</td>
                                <td>Active</td>
                                <td>Code123</td>
                                <td>Profilematch</td>
                                <td>21-11-2016</td>
                            </tr>
                             <tr>
                                <td>Sample Business Name</td>
                                <td>Business User</td>
                                <td>Phone Number</td>
                                <td>mail@mail.com</td>
                                <td>Active</td>
                                <td>Code123</td>
                                <td>Profilematch</td>
                                <td>21-11-2016</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </md-card-content>
        </md-card>
    </div>
</div>
