<style>
.mfdefaultsorter {
    text-decoration: none !important;
    color: rgba(0, 0, 0, 0.7) !important;
}

.highcharts-container {
    width: 100% !important;
    display: inline-block !important;
}
</style>
<div class="row">
    <div class="col s12 m6 l3" style="padding: 0px !important">
        <div class="col-md-12">
            <md-card>
                <div class="row">
                    <div class="col-md-10">Today</div>
                    <div class="row col-md-2 text-right">
                        <button md-icon-button>
                            <md-icon>more_vert </md-icon>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                    </div>
                    <div style="display: inline-block; vertical-align: middle" class="col-xs-6 text-right">
                        4567
                    </div>
                </div>
            </md-card>
        </div>
    </div>
    <div class="col s12 m6 l3" style="padding: 0px !important">
        <div class="col-md-12">
            <md-card>
                <div class="row">
                    <div class="col-md-10">Weekly</div>
                    <div class="row col-md-2 text-right">
                        <button md-icon-button>
                            <md-icon>more_vert </md-icon>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                    </div>
                    <div style="display: inline-block; vertical-align: middle" class="col-xs-6 text-right">
                        4567
                    </div>
                </div>
            </md-card>
        </div>
    </div>
    <div class="col s12 m6 l3" style="padding: 0px !important">
        <div class="col-md-12">
            <md-card>
                <div class="row">
                    <div class="col-md-10">Monthly</div>
                    <div class="row col-md-2 text-right">
                        <button md-icon-button>
                            <md-icon>more_vert </md-icon>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                    </div>
                    <div style="display: inline-block; vertical-align: middle" class="col-xs-6 text-right">
                        4567
                    </div>
                </div>
            </md-card>
        </div>
    </div>
    <div class="col s12 m6 l3" style="padding: 0px !important">
        <div class="col-md-12">
            <md-card>
                <div class="row">
                    <div class="col-md-10">Yearly</div>
                    <div class="row col-md-2 text-right">
                        <button md-icon-button>
                            <md-icon>more_vert </md-icon>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                    </div>
                    <div style="display: inline-block; vertical-align: middle" class="col-xs-6 text-right">
                        4567
                    </div>
                </div>
            </md-card>
        </div>
    </div>
</div>
<div class="row" style="height: 80%">
    <div class="col-md-6" style="padding: 0px !important; height:80%; display: inline-block">
        <div class="col-md-12" style="height: 100%; display: inline-block">
            <md-card style="margin-top: 16px" style="display: inline-block;height:100%;" >
                <md-card-title style="color: rgba(0,0,0,0.7)">
                    <div class="row">
                        <span class="col-md-8">Today Shipment</span>
                        <span class="row col-md-4 text-right">
                <button md-icon-button>
                    <md-icon>pie_chart</md-icon>
                </button>
                <button md-icon-button>
                    <md-icon>more_vert </md-icon>
                </button>
            </span>
                    </div>
                </md-card-title>
                <md-card-content style="overflow: auto; display: inline-block; height: 80%">
                    <table class="table table-striped" [mfData]="halls" #mf="mfDataTable" style="font-size: 12px; display: inline-block;">
                        <thead>
                            <tr>
                                <th style="width: 10%; text-decoration: none">
                                    <mfDefaultSorter by="depot" class="mfdefaultsorter">Depot ID</mfDefaultSorter>
                                </th>
                                <th style="width: 10%; text-decoration: none">
                                    <mfDefaultSorter by="ship_num">Shipment #</mfDefaultSorter>
                                </th>
                                <th style="width: 10%; text-decoration: none">
                                    <mfDefaultSorter by="delivery">Delivery</mfDefaultSorter>
                                </th>
                                <th style="width: 20%; text-decoration: none">
                                    <mfDefaultSorter by="ship_to_customer">Customer</mfDefaultSorter>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let shipment of mf.data">
                                <td>{{shipment.depot_id}}</td>
                                <td>{{shipment.ship_num}}</td>
                                <td>{{shipment.delivery}}</td>
                                <td>{{shipment.ship_to_customer}}</td>
                            </tr>
                        </tbody>
                    </table>
                </md-card-content>
            </md-card>
        </div>
    </div>
    <div class="col-md-6 hide-on-med-and-down" style="padding: 0px !important; height: 80% !important; display: inline-block;">
        <div class="col-md-12">
            <md-card style="margin-top: 16px">
                <md-card-title style="color: rgba(0,0,0,0.7)">
                    <div class="row">
                        <span class="col-md-8">Shipment</span>
                        <span class="row col-md-4 text-right">
                <button md-icon-button>
                    <md-icon>list</md-icon>
                </button>
                <button md-icon-button>
                    <md-icon>more_vert </md-icon>
                </button>
            </span>
                    </div>
                </md-card-title>
                <chart style="height:300px" [options]="options"></chart>
            </md-card>
        </div>
    </div>
</div>
