<style>
.dropdown-item {
    width: 100%;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}

.dropdown-item:hover {
    background: #E5E5E5;
}

.datepicker__input {
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
}
</style>
<div class="hide-on-small-and-down row" style="padding-left:16px; padding-bottom:none !important; overflow: hidden; height:91%; display: inline-block; width: 100%">
    <md-card class="col m8 l8 s12 " style="display: inline-block; height: 99%;">
        <md-card-title style="color: rgba(0,0,0,0.7); font-size: 12px; margin:0 !important">
            <div class="row" style="margin:0 !important; margin-bottom:0px important">
                <span class="col l4 m3 s12" style="padding:16px; font-size: 24px">Shipment</span>
                <span class="row col m7 s12 pull-right text-right" style="margin:0 !important">
            <div class="input-field col m8 s8">
                <input placeholder="Search" id="username" (keyup.enter)="refreshShipments(1,myModel)"  [(ngModel)]="myModel" type="text" class="validate">
            </div>
            <button class="" (click)='refreshShipments(1,myModel)' md-icon-button>
                <md-icon>search </md-icon>
            </button>
            <button class="" (click)='myModel="";getMaxDays()' md-icon-button>
                <md-icon>refresh </md-icon>
            </button>
            </span>
            </div>
            <div class="row pull-right" style="padding-right: 30px">
                <input type="checkbox" id="monthFilter" checked="checked" [(ngModel)]="chkBox" (ngModelChange)='refreshShipments(1,myModel)' />
                <label for="monthFilter" style="font-size:1.5rem !important">Last {{maxDaysVal}} days</label>
            </div>
            <div style="height:2px !important">
                <md-progress-bar mode="indeterminate" *ngIf="promiseShipment"></md-progress-bar>
            </div>
        </md-card-title>
        <md-card-content class="col s12" style="overflow: auto; height:65% !important; width:100%">
            <table class="table table-striped col s12" [mfData]="halls" #mf="mfDataTable" style="font-size: 12px">
                <thead>
                    <tr>
                        <th style="width: 25%; text-decoration: none">
                            <mfDefaultSorter by="depot" class="mfdefaultsorter">Depot</mfDefaultSorter>
                        </th>
                        <th style="width: 20%; text-decoration: none">
                            <mfDefaultSorter by="ship_num">Shipment #</mfDefaultSorter>
                        </th>
                        <th style="width: 10%; text-decoration: none">
                            <mfDefaultSorter by="delivery">Delivery</mfDefaultSorter>
                        </th>
                        <th style="width: 15%; text-decoration: none">
                            <mfDefaultSorter by="upload_dt">Time</mfDefaultSorter>
                        </th>
                        <th style="width: 30%; text-decoration: none">
                            <mfDefaultSorter by="upload_mode">Mode</mfDefaultSorter>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let ind=index; let shipment of mf.data | paginate:{itemsPerPage: 10,currentPage: p,totalItems: count }" [class.selected]="ind==selectedRow" (click)=' fetchShipmentDetails([shipment]);showStyle = !showStyle;selectedRow=ind' style="cursor: pointer">
                        <td>{{shipment.depot_name}}</td>
                        <td>{{shipment.ship_num}}</td>
                        <td>{{shipment.delivery}}</td>
                        <td>
                            <div style="width:100%; ">{{shipment.upload_dt | date:'dd-MM-yyyy'}}</div>
                            <div style="width:100%;">{{shipment.upload_dt | date:'h:mma'}} </div>
                        </td>
                        <td><span style="display: inline-block;" *ngIf="shipment.upload_mode=='MOBILE'"> <md-icon style="color: rgba(0,0,0,0.7)">phone_android </md-icon> <div style="display: inline-block; vertical-align: super"> {{shipment.imei}} </div> </span> <span *ngIf="shipment.upload_mode=='EMAIL'"> <md-icon style="color: rgba(0,0,0,0.7)">email </md-icon> {{shipment.email}}</span></td>
                    </tr>
                </tbody>
            </table>
        </md-card-content>
        <div class="row s12 pull-right" style="padding: 16px">
            <pagination-controls (pageChange)="refreshShipments($event,myModel)" #api></pagination-controls>
        </div>
    </md-card>
    <div class="hide-on-med-and-down col-sm-4" style="height: 100%">
        <md-card class="col-md-12" style="min-height: 50%; max-height:50%">
            <md-card-title style="color: rgba(0,0,0,0.7); border-bottom:2px solid rgba(0,0,0,0.07)">
                <div class="row">
                    <span class="col-md-8">Images</span>
                </div>
                <div style="height:2px !important">
                    <md-progress-bar mode="indeterminate" *ngIf="promiseShipmentDetails"></md-progress-bar>
                </div>
            </md-card-title>
            <md-card-content>
                <div class="row">
                    <table class="table table-striped" [mfData]="details" #mfImg="mfDataTable" style="font-size: 12px">
                        <tbody style="overflow-x: auto; overflow-y: hidden">
                            <div class="row col-s12" style="margin:0px">
                                <div *ngFor="let shipmentdetail of mfImg.data" class="col-sm-6 col-md-4">
                                    <div [hidden]="shipmentdetail.file_type =='json'">
                                        <div class="thumbnail">
                                            <a href="https://pod-prod.s3.amazonaws.com/{{shipmentdetail.file_url | encodeuri}}">
                                                <img src="https://pod-prod.s3.amazonaws.com/{{shipmentdetail.file_url | encodeuri}}" height="60" style="max-height: 60px; min-height: 60px" alt="{{shipmentdetail.filename}}">
                                                <div class="caption Truncation" style="cursor: pointer">
                                                    <h6 class="Truncation" style="overflow: hidden; text-overflow: ellipsis; max-height: 40px">{{shipmentdetail.filename}}</h6>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tbody>
                    </table>
                </div>
            </md-card-content>
        </md-card>
        <md-card class="col-md-12" style="min-height: 45%; max-height:45%; margin-top: 16px">
            <md-card-title style="color: rgba(0,0,0,0.7); border-bottom:2px solid rgba(0,0,0,0.07)">
                <div class="row">
                    <span class="col-md-8">Documents</span>
                </div>
                <div style="height:2px !important">
                    <md-progress-bar mode="indeterminate" *ngIf="promiseShipmentDetails"></md-progress-bar>
                </div>
            </md-card-title>
            <md-card-content>
                <div class="row">
                    <table class="table table-striped" [mfData]="details" #mfDoc="mfDataTable" style="font-size: 12px">
                        <tbody style="overflow-x: auto; overflow-y: hidden">
                            <div class="row" style="margin:0px">
                                <div [hidden]="shipmentdetail.file_type !='json'" *ngFor="let shipmentdetail of mfDoc.data" class="col-sm-6 col-md-4">
                                    <a href="https://pod-prod.s3.amazonaws.com/{{shipmentdetail.file_url | encodeuri}}" class="thumbnail">
                                        <img src="/assets/txt.png" alt="{{shipmentdetail.filename}}">
                                        <div class="caption Truncation">
                                            <h6 class="Truncation" style="overflow: hidden; text-overflow: ellipsis;">{{shipmentdetail.filename}}</h6>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </tbody>
                    </table>
                </div>
            </md-card-content>
        </md-card>
    </div>
</div>
<div class="hide-on-med-and-up s12" style="overflow: auto; padding:none !important; height:100%; display: inline-block; width: 100%">
    <div class="row s12" style="padding:16px; padding-bottom:0px">
        <span class="col s8" style="padding:16px; font-size:18px; padding-bottom:0px">Shipments</span>
        <span class="row col m7 s12 pull-right text-right" style="margin:0 !important">
            <div class="input-field col m8 s8">
                <input placeholder="Search" id="username" (keyup.enter)="refreshShipments(1,myModel)"  [(ngModel)]="myModel" type="text" class="validate">
            </div>
            <button class="" (click)='refreshShipments(1,myModel)' md-icon-button>
                <md-icon>search </md-icon>
            </button>
            <button class="" (click)='myModel="";getMaxDays()' md-icon-button>
                <md-icon>refresh </md-icon>
            </button>
        </span>
    </div>
    <div>
        <ul materialize="collapsible" class="collapsible" data-collapsible="accordion">
            <li style="margin:8px" *ngFor="let ind=index; let shipment of halls | paginate:{itemsPerPage: 10,currentPage: p,totalItems: count }">
                <div class="collapsible-header">
                    <div (click)="fetchShipmentDetails([shipment]);showStyle = !showStyle;selectedRow=ind" class="row col s12" style="margin: 0px">
                        <div class="col s9">
                            <div style=" font-size: 14px; font-weight: 600; min-width: 100px; padding:0" class="col-xs-12">
                                <div> {{shipment.depot_name}} </div>
                            </div>
                            <div style="font-size: 12px;; padding:0" class="col-xs-12">
                                 <md-icon style="font-size: 18px; width: auto; color: rgba(0,0,0,0.6);height:18px; vertical-align:middle">local_shipping</md-icon> {{shipment.ship_num}}
                            </div>
                            <div style="font-size: 12px;padding-left:0" class="col s12">
                               <md-icon style="font-size: 18px; width: auto; color: rgba(0,0,0,0.6);height:18px; vertical-align:middle">beenhere</md-icon>  {{shipment.delivery}}
                            </div>
                        </div>
                        <div class="col s2" style="text-align: right">
                            <div style="font-size: 10px; text-align: right;" class="pull-right">
                                <div style="font-size: 10px; text-align: right;"> {{shipment.upload_dt | date:'dd-MM-yyyy'}} </div>
                                <div style="font-size: 10px; text-align: right;">{{shipment.upload_dt | date:'h:mma'}}</div>
                                <div style="font-size: 10px; text-align: right; padding-top:4px;  max-width: 90px; overflow: hidden; text-overflow: ellipsis;white-space: nowrap;" *ngIf="shipment.upload_mode=='MOBILE'">{{shipment.imei}}</div>
                                <div style="font-size: 10px; text-align: right; padding-top:4px; max-width: 90px; overflow: hidden; text-overflow: ellipsis;white-space: nowrap;" *ngIf="shipment.upload_mode=='EMAIL'">{{shipment.email}}</div>
                            </div>
                        </div>
                        <div class="col s1">
                            <md-icon style="color: rgba(0,0,0,0.7)">keyboard_arrow_right </md-icon>
                            <md-icon *ngIf="shipment.upload_mode=='MOBILE'" style="color: rgba(0,0,0,0.7); padding-top: 40px">phone_android</md-icon>
                            <md-icon *ngIf="shipment.upload_mode=='EMAIL'" style="color: rgba(0,0,0,0.7); padding-top: 40px">email </md-icon>
                        </div>
                    </div>
                </div>
                <div class="collapsible-body">
                    <div *ngFor="let shipmentdetail of mfImg.data" style="max-width:30%; padding:8px !important; display: inline-block; margin: 0px 8px;" class="col s3">
                        <div [hidden]="shipmentdetail.file_type =='json'">
                            <div>
                                <a style="display: inline-block; " href="https://pod-prod.s3.amazonaws.com/{{shipmentdetail.file_url | encodeuri}}">
                                    <img src="https://pod-prod.s3.amazonaws.com/{{shipmentdetail.file_url | encodeuri}}" height="60" style="max-height: 60px; min-height: 60px" alt="{{shipmentdetail.filename}}" />
                                    <div class="caption Truncation" style="display: inline-block; cursor: pointer">
                                        <!-- <h6 class="Truncation" style="overflow: hidden; text-overflow: ellipsis; max-height: 40px">{{shipmentdetail.filename}}</h6> -->
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
